.hidden {
  display: none;
}

.vkeyboard__body {
  width: 800px;
  background-color: gray;
}

.vkeyboard__textarea {
  width: 795px;
  height: 50px;
}

.vkeyboard__row {
  display: flex;
  gap: 10px;
}

.vkeyboard__key {
  width: 40px;
  height: 40px;
  background: #444;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  line-height: 40px;
}

.vkeyboard__key_activ {
  background-color: greenyellow;
} 